<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2879c0a1-d2ca-4718-b225-bea6ac796ab7/resourcegroups/ELD/providers/Microsoft.Web/sites/PromiseData20171208104500</ResourceId>
    <ResourceGroup>ELD</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://promisedata20171208104500.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>promisedata20171208104500.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PromiseData20171208104500</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PromiseData20171208104500</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuditContext" Order="6" Enabled="False">
          <Destination Path="Data Source=promisedata.database.windows.net;Initial Catalog=PP_Data;User ID=lodder.adrian;Password=b00bsMcg33" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Advanced_Auditing.Models.AuditingContext, PromiseData" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityConnection" Order="7" Enabled="False">
          <Destination Path="Data Source=promisedata.database.windows.net;Initial Catalog=PP_Auth;User ID=lodder.adrian;Password=b00bsMcg33" Name="Data Source=promisedata.database.windows.net;Initial Catalog=PP_Auth;MultipleActiveResultSets=True;User ID=lodder.adrian;Password=b00bsMcg33" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PromiseData.Models.IdentityStoreDbContext, PromiseData" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="Data Source=promisedata.database.windows.net;Initial Catalog=PP_Data;Persist Security Info=True;User ID=lodder.adrian;Password=b00bsMcg33;Context Connection=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PromiseData.Models.ApplicationDbContext, PromiseData" MigrationConfiguration="PromiseData.Migrations.Configuration, PromiseData" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AuditContext-Web.config Connection String">
      <ParameterValue>Data Source=promisedata.database.windows.net;Initial Catalog=PP_Audit;User ID=lodder.adrian;Password=b00bsMcg33</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=promisedata.database.windows.net;Initial Catalog=PromiseDataDB;User ID=lodder.adrian;Password=b00bsMcg33</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IdentityConnection-Web.config Connection String">
      <ParameterValue>Data Source=promisedata.database.windows.net;Initial Catalog=PP_Auth;User ID=lodder.adrian;Password=b00bsMcg33</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>