@using PromiseData.Models
@model PromiseData.ViewModels.ChildRaceViewModel

@{
    ViewBag.Title = "Associate";
}

<h2>Associate</h2>

@using (Html.BeginForm())
{

    foreach(var item in Model.raceDictionary.Keys)
    {
        bool truthy = false;
        <label>@item.Description</label>
        Model.raceDictionary.TryGetValue(item, out truthy);
        @Html.CheckBox(item.Description, truthy);
        <br/>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

}